/****************************************
GENERAL
*****************************************/

body {
  font-family: 'Droid Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  min-height: 700px;
  margin: 0 auto;
  padding: 0 auto;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=65);
	opacity: 0.65;
}

/****************************************
HEADING
*****************************************/

header {
}


h1 {
}

h2 {
}

p {
  font-family: 'Droid Sans', sans-serif;
  margin: 1em;
}


/****************************************
NAVIGATION
*****************************************/

nav {
}

nav ul {
}

nav li {
}

nav a {
}

/****************************************
FOOTER
*****************************************/

footer {
}

/****************************************
PAGE: MAIN
*****************************************/

#social-links {
}

#social-links div {
}

#social-links div a img {
}

/****************************************
PAGE: ABOUT
*****************************************/

h3 {
}

#about-text {
}

/****************************************
COLORS
*****************************************/

/* site body */

body {
}

/* header */

header {
}

/* nav background on mobile */

nav {
}

/* logo text */

h1, h2, h3 {
}

/* paragraph text */

p {
}

/* nav link */

nav a, nav a:visited {
}

/* selected nav link */
}
