@media screen and (min-width: 480px) {

  /****************************************
  PAGE: MAIN
  *****************************************/

  #social-links li {
    margin: 0 auto;
    width: 25%;
    background: orange;
  }

  #social-links li a img {
    margin: 40px 0;
  }

}
