@media screen and (min-width: 480px) {

  /****************************************
  PAGE: MAIN
  *****************************************/

  #social-links div {
    margin-top: 10%;
    max-width: 35%;
  }

  #social-links div.first {
    float: left;
    margin-right: 10%;
  }

  #social-links div.second {
    float: right;
    margin-left: 10%;
  }

}
